/* navbar */
.navbar-dx ul,
ol {
	margin-bottom: 0;
}

.navbar-dx .MapSearchBar .input-group,
.navbar-dx.shadow {
	-webkit-box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
	-moz-box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
	box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
}

.navbar-dx ul,
ol {
	margin-bottom: 0;
}

.navbar .square-button {
	height: @square-btn-size;
	width: @square-btn-size;
}

.nav-menu {
	overflow-x: hidden;
	overflow-y: hidden;
}

.nav-content {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: @ms2-color-background;
}

.nav-body {
	position: absolute;
	top: @square-btn-size;
	bottom: 0;
	overflow: auto;
	width: 100%;
}

#mapstore-navbar-container {
	height: @square-btn-size;
}

#mapstore-navbar-container > ul > li:nth-child(1) > a {
	padding: 0;
}

.barra_boot_portal_azores_gov_pt{ background-color:rgba(242,242,242,1) !important; height: 34px;}
.texto_barra_portal{ font-family:Arial, Helvetica, sans-serif !important; font-size:11px; color:#000000 !important; }
.span_barra_portal{ font-family:Arial, Helvetica, sans-serif !important; font-size:11px; color:#000000 !important; }
A.link_barra_portal{ text-decoration:underline; color: #1E396E; margin-bottom:0px; font-family:Arial, Helvetica, sans-serif !important; font-size:11px; opacity:1; }
A.link_barra_portal:visited{ text-decoration:underline; color: #1E396E; margin-bottom:0px; font-family:Arial, Helvetica, sans-serif !important; font-size:11px; opacity:1; }
A.link_barra_portal:hover{ text-decoration:underline; color: #1E396E; opacity:0.4; }
A.link_barra_portal:visited:hover{ margin-left: 10px; }
